---
- name: Perform terminal emulator install for Linux distributions
  include_tasks: "{{ ansible_facts['distribution'] | lower | replace(' ', '_') }}.yml"
  when: ansible_facts['system'] == "Linux"

- name: Perform terminal emulator install for macOS
  include_tasks: "macosx.yml"
  when: ansible_facts['system'] == "Darwin"
