---
- name: Install Docker on Arch Linux
  community.general.pacman:
    name:
      - docker
      - docker-compose
      - docker-buildx
    state: present

- name: Enable and start Docker service
  ansible.builtin.systemd:
    name: docker
    enabled: true
    state: started
