- name: Check if Docker is installed
  ansible.builtin.command: which docker
  register: docker_check
  ignore_errors: true  # Don't fail if 'which code' returns a non-zero exit code

- name: Install required packages (wget, gpg)
  apt:
    name:
      - gpg
    state: present
  when: docker_check.rc != 0  # Run only if VS Code is NOT installed

- name: Download Docker GPG key
  ansible.builtin.get_url:
    url: https://download.docker.com/linux/ubuntu/gpg
    dest: /tmp/docker.asc
    mode: '0644'
  when: docker_check.rc != 0

- name: Add Docker GPG key to apt keyring
  ansible.builtin.copy:
    src: /tmp/docker.asc
    dest: /etc/apt/keyrings/docker.asc
    owner: root
    group: root
    mode: '0644'
    remote_src: yes
  when: docker_check.rc != 0

- name: Add Docker repository to apt sources
  ansible.builtin.apt_repository:
    repo: "deb [arch=amd64,arm64,armhf signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu {{ ansible_facts['distribution_release'] }} stable"
    state: present
    filename: docker
  when: docker_check.rc != 0

- name: Clean up temporary files
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop:
    - /tmp/docker.asc
  when: docker_check.rc != 0

- name: Install Docker
  apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: present
    update_cache: yes
  when: docker_check.rc != 0