---
- name: "Provision Machine"
  gather_facts: yes
  hosts: all
  roles:
    - common
    - vscode
    - docker
    - github_cli
    - terminal_emulator
    - terminal_tools
  serial: 1

  pre_tasks:
    - name: Capture the original user
      set_fact:
        original_user: "{{ ansible_user_name }}"
      run_once: true
    - name: Update apt cache
      apt:
        update_cache: yes
      when: ansible_facts['os_family'] == "Debian"
    - name: Update yum cache
      yum:
        update_cache: yes
      when: ansible_facts['os_family'] == "RedHat"
    - name: Update Brew cache
      become: false
      community.general.homebrew:
        update_homebrew: yes
      when: ansible_facts['os_family'] == "Darwin"
    - name: Check for virtualization facts
      debug:
        msg: |
          Virtualization role: {{ ansible_facts['virtualization_role'] }}
          Virtualization type: {{ ansible_facts['virtualization_type'] }}
      when: ansible_facts['virtualization_role'] is defined or ansible_facts['virtualization_type'] is defined
    - name: Register regular user's home directory
      set_fact:
        home_dir: "/home/{{ original_user }}"
      when: ansible_facts['system'] == "Linux"
    - name: Register regular user's home directory for MacOS
      set_fact:
        home_dir: "/Users/{{ original_user }}"
      when: ansible_facts['system'] == "Darwin"

  tasks:
    - name: showmsg
      debug:
        msg: "{{item}}\n"
      with_items:
        - "{{ ansible_facts['distribution'] }}"
        - "{{ ansible_facts['user_id'] }}"
        - "{{ ansible_facts['env']['HOME'] }}"
        - "{{ ansible_facts['user_dir'] }}"
        - "{{ original_user }}"

